{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'users/css/plataforma.css' %}">
    <script src="{% static 'users/js/plataforma.js' %}" defer></script>
{% endblock head %}

{% block body %}
<div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">Heliumove</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="{% url 'logout' %}">
                <i class='bx bx-user' ></i>
                <span class="links_name">Sair</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>
  
<section class="home-section" style="overflow: hidden;">
    <div class="titleDiv">
        <h1 class="titleText">Bem-Vindo a central de dados do Heliumove</h1>
        <p class="descriptionText">Esta plataforma apresenta os dados coletados por dois sistemas de captação solar, tendo um deles o recurso de solartracking. Por meio desses registros, as medições de tensão e corrente podem ser comparadas, indicando o contraste de eficiência entre os mesmos. Além disso, dados quanto às temperaturas nos painéis também podem ser observados. Logo abaixo, constam os botões de acesso às respectivas informações.  </p>
    </div>
    <div style='padding-left: 30px;' class="center-cards row">
        <br>
        {% for sistema in sistemas %}
            <div class="card" style="width: 18rem;">
                {% if sistema.img == '1'%}
                    <img src="{% static 'users/img/solarPlate-Static.png' %}" class="card-img-top card-img-background" alt="Placa Solar">
                {% else %}
                    <img src="{% static 'users/img/solarPlate-Tracking.png' %}" class="card-img-top card-img-background" alt="Placa Solar">
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{sistema}}</h5>
                <p class="card-text">Veja os dados coletados neste sistema solar com o botão abaixo!</p>
                <a href="{% url 'sistemas' sistema.slug %}" class="btn info-btn">Ver detalhes</a>
                </div>
            </div>
            <div class="space"></div>
        {% endfor %}
    </div>
</section>
{% endblock body %}