@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
     
    --main-color: #ac4147;
    --dark-color: #7a3f32;
    --light-color: #ffc27f;
    --contrast-color: #f88863;
    --differential-color: #ffe29a;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  /* overflow-y: auto; */
  overflow-x: hidden
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--dark-color);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
  text-align: right;
}

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list{
  margin-top: 5px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--main-color);
}

.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--main-color);
  color: #FFF;
}

.sidebar.open .bx-search:hover{
  background: var(--main-color);
  color: #FFF;
}

.sidebar .bx-search:hover{
  background: #FFF;
  color: var(--main-color);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--main-color);
}

.sidebar li a:hover{
  background: #FFF;
}

.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: var(--main-color);
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: var(--main-color);
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--main-color);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  background: #F8EDE3;
  left: 78px;
  
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text{
  display: inline-block;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.titleDiv {
  align-items: center;
  text-align: center;
  width: 100%;
}

.titleDiv h2{
  overflow: hidden;
}

.titleText {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 28pt;
  padding-top: 10px;
  padding-bottom: 5px;
}

.descriptionText {
  font-family: "Fauna One", serif;  
  font-size: 11pt;
  font-style: normal;
  align-items: center;
  text-align: center;
}

.center-cards{
  align-items: center;
  justify-content: center;
}

.card {
  margin-left: 15px;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: opacity(-50%);
  box-shadow: -5px 5px 10px rgba(0,0,0,0.5);
}

.card-img-background{

  background-color: white;
}

.space{
  padding: 1%;
}

.info-btn {
  margin-left: 22%;
  align-self: center;
  background-color: var(--main-color);
  color: white;
}

.distanciamento{
  padding-left: 2%;
  padding-right: 2%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  white-space: nowrap; /* Impede que itens quebrem linha */
  overflow-x: hidden; /* Desabilita rolagem horizontal */
}

.pagination p {
  padding: 8px 12px;
  margin: 0 5px;
  text-decoration: none;
  color: var(--main-color);
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  cursor: default;
}

.pagination a {
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--main-color);
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

.pagination a:hover {
  background-color: var(--main-color);
  color: white;
  overflow-x: hidden;
}

.pagination .current {
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  overflow-x: hidden;
  cursor: default;
}

.card-title {
  overflow: hidden;
}
